.border{
    border: 2px solid rgb(212, 183, 183);
}

.flex{
    display: flex;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.jcsb{
    justify-content: space-between;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.text-center{
    text-align: center;
}